@font-face {
    font-family: 'Muller';
    src: local('Muller-Regular'),
    url('fonts/MullerRegular.woff2') format('woff2'),
    url('fonts/MullerRegular.woff') format('woff');
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: local('Muller-Medium'),
    url('fonts/MullerMedium.woff2') format('woff2'),
    url('fonts/MullerMedium.woff') format('woff');
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: local('Muller-Bold'),
    url('fonts/MullerBold.woff2') format('woff2'),
    url('fonts/MullerBold.woff') format('woff');
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}

  body {
    background-color: #E5E5E5;
  }

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

html {
    font-family: 'Muller', sans-serif;
}

.container {
    max-width: 1170px;
    margin-right: auto;
    margin-left: auto;
}

.section-heading  {
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
    color: #333333;
    padding-bottom: 20px;
    margin: 0;
    margin-left: 40px;
}

.btn {
    font-style: 16px;
    font-weight: 400;
    line-height: 16px;
    color: #CC9933;
    border: 1px solid #CC9933;
    border-radius: 10px;
    gap: 10px;
    background-color: #FFFFFF;
    padding: 13px 20px;
}

.section-icon-next {
    display: inline-block;
    width: 11px;
    height: 11px;
    margin-left: 1px;
    background: url('/img/Rectangle22.svg') center center no-repeat transparent;
    background-size: contain;
}

/* Header */
/* Header Up */
.header {
    height: 154px;
}

.header-up {
    display: flex;
    height: 84px;
    align-items: center;
}

.logo {
    margin-right: 40px;
}

.header-telephone {
    font-style: 20px;
    font-weight: 500;
    line-height: 20px;
    color: #666666;
}

.section-header-icon {
    display: inline-block;
    width: 21px;
    height: 12px;
    margin-right: 1px;
    background: url('/img/Vector2.svg') center center no-repeat transparent;
    background-size: contain;
}

.header-personal {
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    margin-left: auto;
    color: #CC9933;
}

/* Header Down */
.header-down {
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
    border-radius: 15px;
}

.nav-list {
    display: flex;
    padding-left: 45px;
    
}

.nav-item:not(:last-child) {
    margin-right: 45px;
}

.nav-link {
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    color: #666666;
}

.btn-back-call{
    margin-right: 45px;
    margin-left: 45px;
}

/* Special Offers */
.section-spec-offers {
    padding-top: 70px;
    padding-bottom: 70px;
}

.section-social-container {
    height: 540px;
}

.section-spec-offers-list {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-wrap: wrap;
}

.section-spec-offers-list > * {
    flex: 1 1 40%;
}

.section-spec-offers-item {
    display: flex;
    width: 573px;
    border-radius: 15px;
}

.section-spec-offers-item:not(:nth-child(2n)) {
    margin-bottom: 24px;
}

.section-spec-offers-item:not(:nth-child(3n)) {
    margin-right: 24px;
}

.section-spec-offers-item:last-child {
    margin-bottom: 0px;
    margin-right: 0px;
}

 .mal {
    background-image: url("/img/Rectangle-142.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}

.grtour {
    background-image: url("/img/Rectangle-152.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.hotel {
    background-image: url("/img/3312.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.section-spec-offers-margin {
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 45px;
    padding-bottom: 40px;
    padding-right: 108px;
}

.full-margin {
    padding-top: 212px;
    padding-left: 45px;
    padding-bottom: 40px;
    padding-right: 229px;
}

.section-spec-offers-item-heading {
    margin: 0;
    padding-bottom: 15px;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    color: #FFFFFF;
}

.section-spec-offers-item-heading.big {
    font-size: 60px;
    line-height: 60px;
}

.section-spec-offers-price {
    margin: 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    color: #FFFFFF;
}

.section-spec-offers-price.big {
    font-size: 30px;
    line-height: 30px;
}

.section-spec-offers-more {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    color: #F0BF5F;
}

/* About Us */
.section-aboutUs-text {
    margin: 0;
    max-width: 888px;
    padding-bottom: 70px;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    color: #000000;
}

/* Services */
.section-services-list {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 46px;
}

.section-services-item {
    width: 573px;
    margin-bottom: 24px;
    outline: 3px solid red;
}

.section-services-item:not(:nth-child(2n)) {
    margin-right: 24px;

}

/* Benefits */
.section-benefits-list {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 48px;
}

.section-benefits-item {
    width: 276px;
    height: 276px;
    margin-bottom: 22px;
    outline: 3px solid red;
}

.section-benefits-item:not(:nth-child(4n)) {
    margin-right: 22px;
}

/* Hotel */
.section-hotel-list {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 46px;
}

.section-hotel-item {
    width: 374px;
    height: 440px;
    margin-bottom: 24px;
    outline: 3px solid red;
}

.section-hotel-item:not(:nth-child(3n)) {
    margin-right: 22px;
}


