@font-face {
    font-family: 'Muller';
    src: local('Muller-Regular'),
    url('fonts/MullerRegular.woff2') format('woff2'),
    url('fonts/MullerRegular.woff') format('woff');
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: local('Muller-Medium'),
    url('fonts/MullerMedium.woff2') format('woff2'),
    url('fonts/MullerMedium.woff') format('woff');
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: local('Muller-Bold'),
    url('fonts/MullerBold.woff2') format('woff2'),
    url('fonts/MullerBold.woff') format('woff');
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}

  body {
    background-color: #E5E5E5;
  }

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

html {
    font-family: 'Muller', sans-serif;
}

.container {
    max-width: 1170px;
    margin-right: auto;
    margin-left: auto;
}

.section-heading  {
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
    color: #333333;
    padding-bottom: 20px;
    margin: 0;
    margin-left: 40px;
}

.btn {
    font-style: 16px;
    font-weight: 400;
    line-height: 16px;
    color: #CC9933;
    border: 1px solid #CC9933;
    border-radius: 10px;
    gap: 10px;
    background-color: #FFFFFF;
    padding: 13px 20px;
}

.section-icon-next {
    display: inline-block;
    width: 11px;
    height: 11px;
    background: url('/img/Rectangle22.svg') center center no-repeat transparent;
    background-size: contain;
    box-sizing: border-box;
}

/* Header */
/* Header Up */
.header {
    height: 154px;
}

.header-up {
    display: flex;
    height: 84px;
    align-items: center;
}

.logo {
    margin-right: 40px;
}

.header-telephone {
    font-style: 20px;
    font-weight: 500;
    line-height: 20px;
    color: #666666;
}

.section-header-icon {
    display: inline-block;
    width: 21px;
    height: 12px;
    margin-right: 1px;
    background: url('/img/Vector2.svg') center center no-repeat transparent;
    background-size: contain;
}

.header-personal {
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    margin-left: auto;
    color: #CC9933;
}

/* Header Down */
.header-down {
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
    border-radius: 15px;
}

.nav-list {
    display: flex;
    padding-left: 45px;
    
}

.nav-item:not(:last-child) {
    margin-right: 45px;
}

.nav-link {
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    color: #666666;
}

.btn-back-call{
    margin-right: 45px;
    margin-left: 45px;
}

/* Special Offers */
.section-spec-offers {
    padding-top: 70px;
    padding-bottom: 70px;
}

.section-social-container {
    height: 540px;
}

.section-spec-offers-list {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-wrap: wrap;
}

.section-spec-offers-list > * {
    flex: 1 1 40%;
}

.section-spec-offers-item {
    display: flex;
    width: 573px;
    border-radius: 15px;
}

.section-spec-offers-item:not(:nth-child(2n)) {
    margin-bottom: 24px;
}

.section-spec-offers-item:not(:nth-child(3n)) {
    margin-right: 24px;
}

.section-spec-offers-item:last-child {
    margin-bottom: 0px;
    margin-right: 0px;
}

 .mal {
    background-image: url("/img/Rectangle-142.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}

.grtour {
    background-image: url("/img/Rectangle-152.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.hotel {
    background-image: url("/img/3312.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.section-spec-offers-margin {
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 45px;
    padding-bottom: 40px;
    padding-right: 108px;
}

.full-margin {
    padding-top: 212px;
    padding-left: 45px;
    padding-bottom: 40px;
    padding-right: 229px;
}

.section-spec-offers-item-heading {
    margin: 0;
    padding-bottom: 15px;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    color: #FFFFFF;
}

.section-spec-offers-item-heading.big {
    font-size: 60px;
    line-height: 60px;
}

.section-spec-offers-price {
    margin: 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    color: #FFFFFF;
}

.section-spec-offers-price.big {
    font-size: 30px;
    line-height: 30px;
}

.section-spec-offers-more {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    color: #F0BF5F;
}

/* About Us */
.section-aboutUs-text {
    margin: 0;
    max-width: 888px;
    padding-bottom: 70px;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    color: #000000;
}

/* Services */
.section-services-list {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 46px;
}

.section-services-item {
    width: 573px;
    height: 330px;
    margin-bottom: 24px;
    border-radius: 15px;
    background-color: #FFFFFF;
}

.section-services-item:not(:nth-child(2n)) {
    margin-right: 24px;

}

.section-services-images {
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 50%;
    border-radius: 15px 15px 0px 0px;
}

.section-services-wrapper {
    padding-top: 26px;
    padding-left: 45px;
    padding-bottom: 35px;
    padding-right: 126px;
}

.section-services-names {
    font-size: 20px;
    font-weight: 500;
    line-height: 200%;
    color: #CC9933;
}

.section-services-description {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 200%;
    color: #000000;
}

/* Benefits */
.section-benefits-list {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 48px;
}

.section-benefits-item {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-left: 45px;
    padding-bottom: 32px;
    padding-right: 42px;
    width: 276px;
    height: 276px;
    margin-bottom: 22px;
    background-color: #FFFFFF;
    border-radius: 15px;
}

.section-benefits-item:not(:nth-child(4n)) {
    margin-right: 22px;
}

.section-benefits-icon {
    width: 64px;
    height: 66px;
    margin-bottom: 10px;
}

.section-benefits-icon.bathtub {
    background: url(/img/bathtub2.svg) left center no-repeat transparent;
}

.section-benefits-icon.hanger {
    width: 67px;
    background: url(/img/hanger2.svg) left center no-repeat transparent;
}

.section-benefits-icon.heating {
    background: url(/img/heating2.svg) left center no-repeat transparent;
}

.section-benefits-icon.hotel-key {
    width: 66px;
    background: url(/img/hotel-key2.svg) left center no-repeat transparent;
}

.section-benefits-icon.parking {
    width: 66px;
    background: url(/img/parking2.svg) left center no-repeat transparent;
}

.section-benefits-icon.reception {
    background: url(/img/reception2.svg) left center no-repeat transparent;
}

.section-benefits-icon.security-box {
    width: 67px;
    background: url(/img/security-box2.svg) left center no-repeat transparent;
}

.section-benefits-icon.swimming-pool {
    background: url(/img/swimming-pool2.svg) left center no-repeat transparent;
}

.section-benefits-description {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    color: #000000;
}

/* Hotel */
.section-hotel-list {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 46px;
}

.section-hotel-item {
    width: 374px;
    height: 440px;
    margin-bottom: 24px;
    background-color: #FFFFFF;
    border-radius: 15px;
}

.section-hotel-item:not(:nth-child(3n)) {
    margin-right: 22px;
}

.section-hotel-img-place {
    width: 374px;
    height: 217px;
}


.section-hotel-images {
    width: 374px;
    height: 217px;
    left: 0px;
    top: 0px;
    border-radius: 15px 15px 0px 0px;
}

.section-hotel-info-full {
    padding-top: 36px;
    padding-left: 45px;
    padding-bottom: 45px;
    padding-right: 45px;
}

.section-hotel-info {
    display: flex;
    justify-content: space-between;
}

.section-hotel-info-price {
    display: flex;
}

.section-hotel-text {
    margin: 0;
    margin-top: 4px;
    margin-right: 4px;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    color: #999999;
}

.section-hotel-text-strong {
    margin: 0;
    margin-right: 4px;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    color: #000000;
    padding-bottom: 16px;
}

.section-hotel-text.bold {
    margin-top: 4px;
    color: #000000;
}

.section-hotel-info-rate {
    margin-top: 4px;
}

.section-hotel-text-name {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    color: #000000;
    padding-bottom: 16px;
}

.section-hotel-text-sity {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    color: #999999;
    padding-bottom: 20px;
}

.section-hotel-item.img-background {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 54px;
  padding-bottom: 27px;
  padding-right: 57px;
  background: url(/img/412.jpg) center center no-repeat transparent;
}

.section-hotel-more-text {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  line-height: 40px;
  color: #FFFFFF;
}

.section-icon-next.white {
  background: url(/img/Rectangle-222.svg) center center no-repeat transparent;
}

/* Want tour */
.form-want_tour-container {
    background-color: #E9E9E9;
    border-radius: 15px;
    margin-bottom: 70px;
}

.form-want_tour-padding {
    padding-bottom: 45px;
    padding-right: 45px;
    padding-top: 45px;
}

.section-form-want_tour-wrapper  {
    display: flex;
    align-items: center;
    width: 1080px;
    height: 106px;
    margin-left: 45px;
    padding: 31px 28px 30px 28px;
    background-color: #FFFFFF;
    border-radius: 15px;
    
}

.input {
    border: none;
    margin-top: 15px;
    margin-right: 41px;
}

.input-text {
    width: 169px;
}

.input-date {
    padding: 0;
    width: 121px;
}

.input-number {
    width: 121px;
    border-bottom: 1px solid #E9E9E9;
}

/* Contacts */
.container-contacts {
    display: flex;
    padding: 45px;
    background: #FFFFFF;
    border-radius: 15px;
}

.section-contacts-info {
    width: 375px;
    height: 528px;
    margin-right: 52px;
}

/* .section-contacts-list {
    display: flex;
    flex-direction: column;
} */

.section-contacts-block-item {
    display: flex;
    justify-content: space-between;
    padding-bottom: 24px;
    border-bottom: 1px solid #E9E9E9;
}

.section-contacts-block-item:not(:first-child) {
    padding-top: 25px;
}

.section-contacts-block-item:last-child {
    padding-bottom: 0;
    padding-top: 45px;
    border-bottom: none;
}

.section-contacts-item.name {
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    color: #000000;
}

.section-contacts-item.body {
    width: 229px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #000000;
}

.section-contacts-item.body-small {
    padding-right: 15px;
    
}

.section-contacts-phone {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #CC9933;
}

.section-contacts-mail {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #CC9933;
}
.section-contacts-mail-description{
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #999999;
}

.btn-contact {
    padding: 27px 29.5px 27px 29.5px;
}

.section-contacts-img {
    width: 653px;
    height: 528px;
    border-radius: 15px;
}

